.btn {
    width: 75px;
    height: 30px;
    border-radius: 5px;
    border:0px;
}

.btn:hover {
    transition: .3s;
    cursor: pointer;
}

.plus {
    background-color: #4CAF50;
    color: white;
}

.plus:hover {
    background-color: rgb(139, 233, 31);
}

.minus {
    background-color: #a80303;
    color: white;
}

.minus:hover {
    background-color: rgb(255, 31, 31);
}

.resource {
    display: inline-block;
}

#div {
    width: 50%;
    height: 75%;
    margin: auto;
    text-align: center;
}

#resource-table {
    margin: auto;
}

.resource-row {
    width: 50%;
}

.res-icon {
    width: 50px;
    padding-left: 10px;
}

.sections {
    border: 3px solid black;
    width: 20%;
}

#weapons-section {
    float: left;
}

#stats-section {
    float: right;
}

#game-over-screen {
    background-color: greenyellow;
    text-align: center;
}   

#game-over {
    color: green;
    font-size: 50px;
}

#start-again {
    width: 400px;
    height: 200px;
    background-color:greenyellow;
    border: 0px;
    border-radius: 50px;
    font-size: 30px;
    margin: 100px;
    cursor: pointer;
}

#start-again:hover {
    background-color: rgb(255, 255, 0);
    transition: 2s;
    transform: rotate(360deg)
}

.shop-button {
    width: 98%;
    border-radius: 10px;
    border: none;
    background-color: rgb(28, 95, 1);
    color: lightgray;
    margin: 1%;
    height: 50px;
}

#next-cost {
    text-align: center;
}