.btn {
    width: 75px;
    height: 30px;
    border-radius: 5px;
}

.btn:hover {
    transition: .3s;
}

.plus {
    background-color: #4CAF50;
    color: white;
}

.plus:hover {
    background-color: rgb(139, 233, 31);
}

.minus {
    background-color: #a80303;
    color: white;
}

.minus:hover {
    background-color: rgb(255, 31, 31);
}

.resource {
    display: inline-block;
}

#div {
    width: 50%;
    height: 75%;
    margin: auto;
    text-align: center;
}